<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img th:src="@{/images/nav-bg.jpg}" alt="">
    </div>
    <header th:replace="/fragments/header :: header">
  </div>

  <!-- about section -->
  <form action="/" method="get">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display:flex; align-items:center; gap:20px;">

      <!-- Sort by -->
      <span class="navbar-brand" style="margin:0;">Sort by:</span>

      <select class="form-select" name="sort_by" style="width:auto; display:inline-block;">
        <option value="createdAt">Created date</option>
        <option value="updatedAt">Updated date</option>
      </select>

      <!-- Per page -->
      <span class="navbar-brand" style="margin:0;">Per page:</span>

      <select class="form-select" name="per_page" style="width:auto; display:inline-block;">
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>

      <button class="btn btn-primary" type="submit" style="margin-left:20px;">
        Apply filter(s)
      </button>

    </nav>
  </form>


  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="posts" th:each="post : ${posts}">
        <h3><a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}">Title</a></h3>
        <h5 th:text="'Author: '+ ${post.account.firstname} + 
        ' | Created at: '+ ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')} +
        ' | Updated at: '+ ${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')}"></h5>
        <p th:utext="${post.body}">body</p>
        <hr color="grey" />
      </div>
    </div>
  </section>

     <nav th:if="${links ne null}" aria-label="...">
      <ul class="pagination justify-content-center">
        <th:block th:each="link: ${links}">
          <li class="page-item">
            <th:block th:utext="${link}">link</th:block>
          </li>
        </th:block>
      </ul>
    </nav>
    
  <footer th:replace="/fragments/footer :: footer">
</body>

</html>